// ============================================
// MAIN SCSS - MI MUNDO PAPER
// ============================================

// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Base
@import 'base/reset';
@import 'base/typography';
@import 'base/animations';

// Layout
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/cards';
@import 'components/forms';

// Pages
@import 'pages/comunes';
@import 'pages/home';
@import 'pages/productos';
@import 'pages/portfolio';
@import 'pages/resenas';
@import 'pages/contacto';
