/* Error: There is no module with the namespace "variables".
 *    ,
 * 22 |   font-family: variables.$font-primary;
 *    |                ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\base\_reset.scss 22:16  @use
 *   scss\main.scss 9:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a    \2577 \a 22 \2502    font-family: variables.$font-primary;\d\a    \2502                 ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\base\\_reset.scss 22:16  @use\a   scss\\main.scss 9:1           root stylesheet';
}
