// ============================================
// ESTILOS COMUNES
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pagina-titulo {
  text-align: center;
  padding: $spacing-3xl 0;
  animation: fadeIn 0.6s ease-out;
  
  &__texto {
    font-size: $font-size-5xl;
    font-weight: $font-weight-light;
    color: $color-text;
    margin-bottom: $spacing-sm;
    letter-spacing: -1px;
    
    @include tablet {
      font-size: $font-size-4xl;
    }
    
    @include mobile {
      font-size: $font-size-3xl;
    }
  }
  
  &__subtexto {
    font-size: $font-size-lg;
    color: $color-text-light;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
