// ============================================
// PAGINA PRODUCTOS
// ============================================

.productos {
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $espacio-2xl;
        
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
}
