// ============================================
// PRODUCTOS
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.productos {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-lg;
    
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.producto {
  @include tarjeta;
  
  &__imagen {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-color: $color-border;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $transition-slow;
    }
  }
  
  &:hover &__imagen img {
    transform: scale(1.08);
  }
  
  &__info {
    padding: $spacing-lg;
  }
  
  &__nombre {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: $color-text;
    margin-bottom: $spacing-xs;
  }
  
  &__descripcion {
    font-size: $font-size-sm;
    color: $color-text-light;
    margin-bottom: $spacing-sm;
    line-height: $line-height-relaxed;
  }
  
  &__precio {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $color-secondary;
  }
}
