// ============================================
// MAIN
// ============================================

.main {
    max-width: $ancho-maximo;
    margin: 0 auto;
    padding: $espacio-3xl $espacio-lg;
}
