// ============================================
// MAIN
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $spacing-4xl $container-padding $spacing-3xl;
  min-height: 100vh;
  
  @include tablet {
    padding: $spacing-3xl $container-padding $spacing-2xl;
  }
}
