// ============================================
// BOTONES
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.btn {
  @include button-primary;
  
  &--secondary {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
    
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
