// ============================================
// TARJETAS
// ============================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card {
  @include tarjeta;
  padding: $spacing-lg;
}
