// ============================================
// TIPOGRAFÍA
// ============================================

@use '../abstracts/variables' as *;

h1 { font-size: $font-size-5xl; }
h2 { font-size: $font-size-4xl; }
h3 { font-size: $font-size-3xl; }
h4 { font-size: $font-size-2xl; }
h5 { font-size: $font-size-xl; }
h6 { font-size: $font-size-lg; }

p {
  margin-bottom: $spacing-md;
  line-height: $line-height-relaxed;
  
  &:last-child {
    margin-bottom: 0;
  }
}

a:hover {
  color: $color-secondary;
}
